*{
  padding :0;
  margin:0;
}
.heart {
  text-align: center;
  margin-top: 180px;
}
.heart h2 {
  margin-top: 60px;
}
.foto {
  width: 100%;
  height: 120px;
  text-align: center;
  margin-top: 10px;
}
